<nav class="nav">
  <div class="nav_logo">
    <img src="../../assets/Credibanco.png" alt="logo" />
  </div>

  <div class="nav_menu">
    <a class="nav_enlace" routerLink="/crear-tarjeta">Crear Tarjeta</a>
    <a class="nav_enlace" routerLink="/enrolar-tarjeta">Enrolar Tarjeta</a>
    <a class="nav_enlace" routerLink="/consultar-tarjeta">Consultar Tarjeta</a>
    <a class="nav_enlace" routerLink="/eliminar-tarjeta">Eliminar Tarjeta</a>
    <a class="nav_enlace" routerLink="/crear-transaccion">Crear Transaccion</a>
    <a class="nav_enlace" routerLink="/anular-transaccion">Anular Transaccion</a>
  </div>
</nav>