<div class="container">
  <h2>Enrolar Tarjeta</h2>
  <div class="flex-container">
  <form class="form" (submit)="enrolarTarjeta()">
    <h3>Request</h3>
    <div>
      <label for="pan">PAN:</label>
      <input type="number" id="pan" [(ngModel)]="request.pan" name="pan" [ngClass]="{'invalid':request.pan&&(request.pan.toString().length<16||request.pan.toString().length>19)}" required>
    </div>
    <div>
      <label for="nombre">Numero de validacion:</label>
      <input type="number" id="nombre" [(ngModel)]="request.numValidacion" name="nombre" [ngClass]="{'invalid':request.numValidacion&&(request.numValidacion.toString().length<1||request.numValidacion.toString().length>100)}" required>
    </div>
    <button type="submit">Crear Tarjeta</button>
  </form>

  <form class="form">
    <h3>Response</h3>
    <div>
      <label for="pan">PAN:</label>
      <input type="text" id="pan" [(ngModel)]="response.pan" name="pan" [disabled]="true">
    </div>
    <div>
      <label for="codigo">Codigo:</label>
      <input type="text" id="codigo" [(ngModel)]="response.codigo" name="codigo" [disabled]="true">
    </div>
    <div>
      <label for="mensaje">Mensaje:</label>
      <input type="text" id="mensaje" [(ngModel)]="response.mensaje" name="mensaje" [disabled]="true">
    </div>
  </form>
  </div>
</div>